<div class="header">
    <div class="logo">
        <img src="" alt="logo">
    </div>
    <div class="menu">
        <ul>
            {% if user.is_anonymous %}
                <li><a href="{% url 'users:user_create' %}">Register</a></li>
                <li><a href="{% url 'users:user_login' %}">Login</a></li>
            {% else %}
                <li><a href="{% url 'logout' %}">Logout</a></li>
            {% endif %}
            <li><a href="{% url 'users:post_list' %}">Posts</a></li>
            <li><a href="{% url 'users:post_create' %}">Create post</a></li>
        </ul>
    </div>
</div>