{% extends 'base.html' %}
{% load static %}
{% block title %}
    Posts
{% endblock %}
{% block style %}
    <style>
        .post{
            width: 300px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: #5e5e5e;
            text-align: center;
            align-items: center;
            border-radius: 8px;
            box-shadow: 0 0 10px 2px #2C2C2C;
            margin: 20px 50px 10px;
        }
        .post > *{
            margin: 10px 0;
            color: white;
        }
        .post > a{
            text-decoration: none;
            font-size: 36px;
        }
        .post > a:hover{
            color: #93c54b;
            text-decoration: none;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container">
        {% for post, image in objects %}
            <div class="post">
                <a href="{% url 'posts:post_detail' post.id %}">{{ post.title }}</a>
                <img src="/media/{{ image.image }}" alt=""
                     width="200px" height="150px">
                <h6>{{ post.create_at }}</h6>
            </div>
        {% endfor %}
    </div>
{% endblock %}