{% extends 'base.html' %}
{% load static %}
{% block title %}
    Tags
{% endblock %}
{% block style %}
    <style>
        .tag{
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: #5e5e5e;
            text-align: center;
            align-items: center;
            border-radius: 8px;
            box-shadow: 0 0 10px 2px #2C2C2C;
            margin: 20px 50px 10px;
            color: white;
            padding: 5px;
        }
        .tag > *{
            margin: 5px 0;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container">
        {% for tag in tags %}
            <div class="tag">
                <h1>{{ tag.name }}</h1>
                {% if user.is_authenticated %}
                    <form action="{% url 'posts:tag_delete' tag.id %}"
                          method="post">
                        {% csrf_token %}
                        <input type="submit" value="Delete tag">
                    </form>
                    <a href="{% url 'posts:tag_update' tag.id %}">
                        <input type="submit" value="Update tag">
                    </a>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
