{% extends 'base.html' %}
{% load static %}
{% block title %}
    Tags
{% endblock %}
{% block style %}
    <style>
        .tags{
            display: flex;
            flex-wrap: wrap;
        }
        .tag{
            margin: 0 20px;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="tags">
            {% for tag in tags %}
                <div class="tag">
                    <h1>{{ tag }}</h1>
                    {% if user.is_authenticated %}
                        <form action="{% url 'users:tag_delete' tag.id %}"
                              method="post">
                            {% csrf_token %}
                            <input type="submit" value="Delete tag">
                        </form>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
