{% extends 'base.html' %}
{% load static %}
{% block title %}
    Change user
{% endblock %}
{% block style %}
    <style>
        .user{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container">
        <form class="user" method="post" action="{% url 'users:user_change' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
    </div>
{% endblock %}